body{
background-color: #70798c;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}

.info2{
    font-size: 18px;
    font-weight: bolder;
    border: double;
    background-color: #ffffff;
}

  .imagenFondoClima {
     background-repeat: no-repeat;
     background-size: cover;
      
  }
  #container{
      display: none;
      padding: 10px;
      background-color: #c6cfe2;
      border: 3px solid rgb(8, 8, 8);
  }
  #container>.block{
      padding: 20px;
  }
  .information-container{
      display: flex;
      
  }
  .info{
      margin-left: 5px;
  }