body{
background-color: #70798c;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}

.info2{
    font-size: 18px;
    font-weight: bolder;
}

  .imagenFondoClima {
     background-repeat: no-repeat;
     background-size: cover;
      
  }
  #container{
      display: none;
      padding: 20px;
      background-color: rgb(250, 244, 237);
  }
  #container>.block{
      padding: 20px;
  }
  .information-container{
      display: flex;
      
  }
  .info{
      margin-left: 5px;
  }